.hitsChato {
    display: flex;
    margin-left: .55rem;
    /* color: var(--white); */
}

.albumInfo {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.625rem;
    margin-top: 9.25rem; 
}

.albumInfo * {
    margin: 0;
}
  

/* .label {
    margin: 0;
} */

.label h5{
    font-weight: normal;
    margin: 0;
}

.buttonIcon {
    background: var(--primary);
    color: var(--white);
}

td.titleC {
    display: flex;
    width: 20.188rem;
    color: var(--white);
}

.cellInfo {
    /* border: 1px solid red; */
    flex-direction: column;
    margin-left: 0.625rem;
    margin-top: .45rem;
   
}

td.calendar {
    width: 20.188rem;
    color: var(--white);
}
